<div class="post-excerpt">
    <div class="post-cover" {{#if image}} style="background-image: url({{image}});" {{/if}}>
    </div>
    <hgroup>
        <h3 class="excerpt-title">{{title}}</h3>
        <!--
        <a href="{{url}}">{{{title}}}</a>
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
		<h3 class="excerpt-meta">Posted on <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="D MMMM YYYY"}}</time> <span class="author">by {{author}}</span></h3>
-->
    </hgroup>
    <div class="excerpt-content">
        {{excerpt words="100"}}
    </div>
    <!--
	<a href="{{url}}"><div class="btn read-more">Continue Reading</div></a>
-->
</div>
