{{!

    This file defines header (logo, name of the blog) as well as menu to the right side of the logo.
    Portfolio and Blog pages contain special route mapping to load appropriate sections. The rest of the
    pages should be static and identified by 'cr-menu-static' class to load correctly.

    Logo: if the blog title is empty, than the blog logo will be used, if available.
    If the blog title exists, the page will use blog logo and blog title + description.

    <h1>
        <a href='milchkannen.ch'>milchkannen</a> |
        <a href="https://plus.google.com/u/0/102518416171514295136/posts?rel=author">kilchenmann andré</a>
    </h1>


}}
<div id="header" class="kr-header">
    <div class="kr-headline">
        <a href="/" title="{{@blog.title}} | {{@blog.description}}">
            {{#if @blog.logo}}
                <div class="kr-logo" style="background-image: url({{@blog.logo}})"></div>
            {{else}}
                <div class="kr-title">{{@blog.title}}</div>
                <div class="kr-description">{{@blog.description}}</div>
            {{/if}}
        </a>
    </div>
    <div class="kr-nav">
        {{> menu}}
    </div>
</div>
