<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">
    {{! Loading additional OpenGraph metatags}}
    {{{block "metaTags"}}}

    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

    {{! Styles'n'Scripts }}
<!--
    <link rel="stylesheet" type="text/css" href="{{asset "css/foundation.css"}}" /> }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,700" />

-->
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/jquery.fullPage.css"}}"/>



	<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <header>
        {{> header}}
    </header>

    {{{body}}}

    <footer>
        {{> footer}}
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}


    <img src="{{asset "css/icons/load/load.gif"}}" style="display: none" id="kr-load-img"/>

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/handlebars.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.slimscroll.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.center.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fullPage.min.js"}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                anchors: ['', 'product', 'upcard', 'computer', 'manufactory'],
                sectionsColor: ['#fff', '#fff', '#fff', '#fff', '#fff'],
                navigation: false,
                verticalCentered: false,
                responsive: 900,
                css3: true
            });
        });
        $('.intro img.coverlogo').center();
        var curDate = new Date(),
                curYear = curDate.getFullYear();
//        $('span.year').text('2009 - ' + curYear);
    </script>
</body>
</html>
