{{!< default}}

{{! The main content area on the homepage }}

<div id="fullpage">
    {{! section0: this is the start page: intro}}
    <div class="section" id="section0">
        <div class="intro">
            <img src="{{@blog.cover}}" alt="{{@blog.title}} | {{@blog.description}}" class="coverlogo" />
        </div>
    </div>
    {{! One section for each tag}}

        {{! section1: new products}}
        <div class="section" id="section1">
            {{! Each post will be output using this markup }}
            {{#foreach posts}}
                {{#has tag="new Product"}} {{! only post with the tag "product" }}
                    {{!> post}}
                    <div class="slide" id="slide{{@index}}" style="background-image: url('{{image}}')">
                        <div class="intro">
                            <h2>
                                <a href="{{url}}" class="post__link post__title_link"><span>{{{title}}}</span></a>
                            </h2>
                            <p class="post__excerpt">
                                <a href="{{url}}" class="post__link post__readmore">{{excerpt characters="160"}}&hellip;</a>
                            </p>
                        </div>
                    </div>
                {{/has}}
            {{/foreach}}
        </div>

        {{! section2: upCycling and reDesign}}
        <div class="section" id="section2">
            {{! Each post will be output using this markup }}
            {{#foreach posts}}
                {{#has tag="upCycling & reDesign"}} {{! only post with the tag "upcard" = upCycling and reDesign}}
                    {{!> post}}
                    <div class="slide" id="slide{{@index}}" style="background-image: url('{{image}}')">
                        <div class="intro">
                            <h2>
                                <a href="{{url}}" class="post__link post__title_link"><span>{{{title}}}</span></a>
                            </h2>
                            <p class="post__excerpt">
                                <a href="{{url}}" class="post__link post__readmore">{{excerpt characters="160"}}&hellip;</a>
                            </p>
                        </div>
                    </div>
                {{/has}}
            {{/foreach}}
        </div>

        {{! section3: computational stuff}}
        <div class="section " id="section3">
            {{! Each post will be output using this markup }}
            {{#foreach posts}}
                {{#has tag="Computational Stuff"}} {{! only post with the tag "cs" = computational stuff }}
                    {{!> post}}
                    <div class="slide" id="slide{{@key}}" style="background-image: url('{{image}}')">
                        <div class="intro">
                            <h2>
                                <a href="{{url}}" class="post__link post__title_link"><span>{{{title}}}</span></a>
                            </h2>
                            <p class="post__excerpt">
                                <a href="{{url}}" class="post__link post__readmore">{{excerpt characters="160"}}&hellip;</a>
                            </p>
                        </div>
                    </div>
                {{/has}}
            {{/foreach}}
        </div>

        {{! secttion4: manufactory incl. about us and contact}}
        <div class="section " id="section4">
            <div class="intro">
                <div class="about">
                    leer
                </div>
            </div>
        </div>


</div>
